.elemento-con-subelementos,
.elemento-sin-subelementos,
.subelemento {
  padding: 10px;
  margin: 10px ;
  cursor: pointer;
  text-align: center
}

.elemento-con-subelementos:hover,
.elemento-sin-subelementos:hover,
.subelemento:hover {
  background-color: lightgray;
}

.expandir {
  font-weight: bold;
}

.seleccionado {
  background-color: lightblue;
}

.mensaje-seleccion {
  margin-top: 50px;
  font-weight: bold;
}

.visible {
  display: block;
}

.elemento-con-subelementos,
.elemento-sin-subelementos,
.subelemento {
  border: 1px solid black;
  text-align: center; 
}

.elemento-con-subelementos {
  margin-center: 10px;
}

.subelemento {
  margin-left: 50px;
}
